.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}

.navbar-heading {
    font-size: 24px;
    font-weight: bold;
    margin-right: 900px; /* Adjust as needed */
    color: #397c39; /* Adjust color as needed */
  }
  